*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: inherit;
    opacity: 0.7;
    font-size: 18px;
}
a:hover{
    cursor: pointer;
    opacity: 1;
}
i{
    font-size: 30px;
}
nav {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 80px;
    box-shadow: 0px 3px 10px #090909;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: blue;
}
#s1{

height: 100vh;
padding-top: 80px;
}
#s2{

height: 100vh;
padding-top: 80px;
}
#s3{

height: 100vh;
padding-top: 80px;
}
#s4{

height: 100vh;
padding-top: 80px;
}
footer{
    height: 50px;
    box-shadow: 0px 3px 10px #090909;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: blue;
}
