*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: inherit;
    opacity: 0.7;
    font-size: 18px;
}
a:hover{
    cursor: pointer;
    opacity: 1;
}
i{
    font-size: 30px;
}
nav {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 80px;
    box-shadow: 0px 3px 10px #090909;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: blue;
}
#s1{

height: 100vh;
padding-top: 80px;
display: flex;
align-items: center;
justify-content: center;
box-shadow: 0px 3px 10px #090909;
 flex-wrap: wrap;
 gap: 100px;
}
.left{
background-color: rgb(255, 255, 255);
width: 400px;
height: 400px;
align-items: center;
    justify-content: center;
   display: flex;
   overflow: hidden;
   border: 2px solid #090909;
   border-radius: 100%;
   box-shadow: 0px 3px 10px #090909;
}
.left img{
width: 400px;
height: auto;
transition: all 200ms ease-in-out;

}
.left:hover img{
    transform: scale(1.1) rotate(-2deg);
}
.right{
align-items: center;
justify-content: center;
flex-direction: column;
width: 400px;
height: 200px;
display: flex;
}
#s2{

height: 100vh;
background-image: url(espace.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-attachment: fixed;
}
#s3{

height: 100vh;
padding-top: 80px;
}
#s4{

height: 100vh;
padding-top: 80px;
}
footer{
    height: 50px;
    box-shadow: 0px 3px 10px #090909;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: blue;
}
